<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>搜索周围的自取点</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/milk/search_nearby_stores.css">
</head>
<body>
    <div class="head-srch btm">
        <div class="frt mg9-10 top_w">
            <input name="search" type="text" value="" maxlength="20" placeholder="请输入你的位置" />
            <a href="javascript:void(0)" id="search" style="color:#fff"><span class="frt" style="margin:3px 5px 3px 10px;">搜索</span></a>
        </div>
    </div>
    <div class="clear"></div>
    
    <div class="mt45" style="position:absolute;top:0px;width:100%">
        <div style="text-align: center;padding:10px 0;font-size:1em;border-bottom:1px solid #ccc;">我的位置<span id="position_desc"></span></div>
        <div class="location flt btm mbt" style="text-align:center;">
            <p class="mg8-10 position">
                <span><img src="../images/milk/lock_1.png" alt="" /></span>
                <span>定位到当前位置</span>
            </p>
        </div>
        <div id="stores_container">
        </div>
    </div>
    <div id="wxpay_loading_mask" style="position:fixed;top:0;left:0;width:100%;height:100%;z-index:9998;background-color:white;opacity:.80;display:none;"></div>
    <div id="wxpay_loading" style="position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;display:none;">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
    <script type="text/html" id="stores">
        <% if (store_list != null) { %>
            <% for (var i in store_list) { %>
            <div class="address flt btm mbt self_receive_spot" self_receive_spot_cd="<%=store_list[i].self_receive_spot_cd%>">
                <div class="fimg flt mbt12" style="margin-bottom:10px">
                    <a href="#"><img src="<%=store_list[i].logo_url%>"></a>
                </div>
                <div class="rword frt mbt">		
                    <a href="#"><p><%=store_list[i].self_receive_nm%></p></a>
                    <a href="#"><p>地址：<%=store_list[i].address%></p></a>
                    <a href="#"><p>电话：<%=store_list[i].tel%></p></a>	
                </div>
            </div>
            <% } %>
        <% } else { %>
            <div class="no-record">
                无可用自取点
            </div>
        <% } %>
    </script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="../js/config.js"></script>
    <script type="text/javascript" src="../js/zepto.min.js"></script>
    <script type="text/javascript" src="../js/template.js"></script>
    <script type="text/javascript" src="../js/milk/common.js"></script>
    <script type="text/javascript" src="../js/simple-plugin.js"></script>
    <script type="text/javascript" src="../js/milk/search_nearby_stores.js"></script>
</body>
</html>
